/* Colors */
:root {
  --color-primary: #fec63e;
  --color-text: #000;
  --color-white: #fff;
  --header-height: 80px;

  --default-space: 20px;

  --default-line-height: 20px;
}

/* General config */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: var(--default-line-height);
}

img {
  display: block;
}

/* Button */
.btn {
  border: solid 3px currentColor;
  /*padding: 10px 25px;*/
  padding: calc(var(--default-space) / 2) calc(var(--default-space) * 1.75);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: var(--default-line-height);
  letter-spacing: .1em;
  transition: all .3s ease-in-out;
}

.btn--white {
  color: var(--color-white);
}

.btn--white:hover {
  color: var(--color-primary);
}

.btn--primary {
  color: var(--color-primary);
}

.btn--primary:hover {
  color: var(--color-text);
}

.btn--primary--bg-black {
  color: var(--color-primary);
}

.btn--primary--bg-black:hover {
  color: var(--color-text);
}

/* Heading */
.heading {
  font-weight: bold;
  letter-spacing: .1em;
  line-height: var(--default-line-height);
  color: var(--color-text);
  text-transform: uppercase;
  margin: 20px 0;
}

.heading:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--color-text);
  margin: 8px auto;
}

.heading--1 {
  font-size: 48px;
}

.heading--2 {
  font-size: 24px;
}

.heading--3 {
  font-size: 18px;
}

/* Header */
.header {
  background-color: var(--color-primary);
  width: 100%;
  padding: 10px;
  height: var(--header-height);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header__nav {
  text-align: right;
  margin-top: var(--default-space)
}

.header__nav ul li {
  display: inline-block;
}

.header__nav ul li + li {
  margin-left: 25px;
}
.header__nav ul li a.header__active {
  color: var(--color-white);
}

.header__nav ul li a {
  color: var(--color-text);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: var(--default-line-height);
  padding: calc(var(--default-space) * 1.5) 0;
  transition: color .2s ease-in-out;
}

.header__nav ul li a:hover {
  color: var(--color-white);
}

/* Sections */
/* Intro */
.section-intro {
  width: 100%;
  height: 380px;
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
  margin-top: var(--header-height);
  text-align: center;
  padding-top: var(--header-height);
}

.section-intro h1 {
  font-size: 48px;
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
}

.section-intro .btn {
  display: inline-block;
  margin-top: 30px;
}

.quote--external {
  max-width: 360px;
  margin: 0 auto;
  color: var(--color-white);
}

.quote--external p {
  font-style: italic;
}

.quote--external p:before, .quote--external p:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--color-white);
  margin: 10px auto;
}

.quote--external cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/* Products */
.section-products,
.section-portifolio,
.section-quality,
.section-break {
  margin-top: var(--default-space);
  text-align: center;
}

.products__list li {
  background: var(--color-primary);
}

.products__img {
  background-color: var(--color-text);
  padding: 20px;
}

/* the list has float in grid class, so we need to clear float */
.products__cta, .portifolio__cta, .quality__cta {
  padding: calc(var(--default-space) * 2) 0;
  text-align: center;
  clear: both;
}

.products__cta p, .portifolio__cta p, .quality__cta p {
  margin-bottom: var(--default-space);
}

.section-portifolio {
  background-color: var(--color-text);
  padding: var(--default-space);
}

.section-portifolio li:last-child {
  margin-top: var(--default-space);
}

.section-portifolio .heading--2 {
  color: var(--color-primary);
}

.section-portifolio .heading--2:after {
  background: var(--color-primary);
}

.portifolio__cta p {
  color: var(--color-primary);
}

.section-quality {
  position: relative;
  overflow: auto; /* clear fix */
}

.section-quality:after {
  content: '';
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.png") no-repeat center;

  position: absolute;
  top: 139px;
  left: 164px;
  z-index: -1;
}

.section-quality ul {
  padding-top: var(--default-space);
}

.section-quality img {
  margin: 0 auto;
}

.section-quality li {
  padding: 0 calc(var(--default-line-height) * 2);
}

.section-break {
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  height: 220px;
  width: 100%;
  padding-top: calc(var(--default-space) * 2.75);
}

.section-break .quote--external {
  max-width: 400px;
}

.footer {
  width: 100%;
  background-color: var(--color-text);
  color: var(--color-white);
  padding-bottom: var(--default-space);
}

.footer h3 {
  text-align: left;
  color: var(--color-primary);
}

.footer h3::after {
  margin: 5px 0 0 0;
  background-color: var(--color-primary);
}

.footer__history {
  padding-right: calc(var(--default-space) * 2)
}

.footer__contact ul li {
  font-size: 14px;
  line-height: var(--default-line-height);
}

.footer__social-urls ul li {
  display: inline-block;
}

.footer__social-urls ul li + li {
  margin-left: calc(var(--default-space) / 2);
}

.footer__social-urls a {
  border: solid 3px var(--color-primary);
  display: block;
  padding: 10px;
  transition: all .3s ease-in-out;
}

.footer__social-urls a:hover {
  border: solid 3px var(--color-white);
  transform: scale(1.1);
}

.footer__copyright {
  background-color: var(--color-primary);
  padding: var(--default-space) 0;
}
