/* Colors */
:root {
  --color-primary: #fec63e;
  --color-text: #000;
  --color-white: #fff;
  --header-height: 80px;

  --default-space: 20px;

  --default-line-height: 20px;
}

/* General config */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: var(--default-line-height);
}

/* Button */
.btn {
  border: solid 3px currentColor;
  /*padding: 10px 25px;*/
  padding: calc(var(--default-space) / 2) calc(var(--default-space)*1.75);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: var(--default-line-height);
  letter-spacing: .1em;
  transition: all .3s ease-in-out;
}

.btn--white {
  color: var(--color-white);
}

.btn--white:hover {
  color: var(--color-primary);
}

.btn--primary {
  color: var(--color-primary);
}

.btn--primary:hover {
  color: var(--color-text);
}

.btn--primary--bg-black {
  color: var(--color-primary);
}

.btn--primary--bg-black:hover {
  color: var(--color-text);
}

/* Heading */
.heading {
  font-weight: bold;
  letter-spacing: .1em;
  line-height: var(--default-line-height);
  color: var(--color-text);
  text-transform: uppercase;
  margin: 20px 0;
}

.heading:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--color-text);
  margin: 8px auto;
}

.heading--2 {
  font-size: 24px;
}

.heading--3 {
  font-size: 18px;
}

/* Header */
.header {
  background-color: var(--color-primary);
  width: 100%;
  padding: 10px;
  height: var(--header-height);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header__nav {
  text-align: right;
  margin-top: var(--default-space)
}

.header__nav ul li {
  display: inline-block;
}

.header__nav ul li + li {
  margin-left: 25px;
}

.header__nav ul li a {
  color: var(--color-text);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: var(--default-line-height);
  padding: 10px 0;
  transition: color .2s ease-in-out;
}

.header__nav ul li a:hover {
  color: var(--color-white);
}

/* Sections */
/* Intro */
.section-intro {
  width: 100%;
  height: 380px;
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
  margin-top: var(--header-height);
  text-align: center;
  padding-top: 80px;
}

.section-intro h1 {
  font-size: 48px;
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
}

.section-intro .btn {
  display: inline-block;
  margin-top: 30px;
}

.quote--external {
  max-width: 360px;
  margin: 0 auto;
  color: var(--color-white);
}

.quote--external p {
  font-style: italic;
}

.quote--external p:before, .quote--external p:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--color-white);
  margin: 10px auto;
}

.quote--external cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/* Products */
.section-products {
  margin-top: 60px;
  text-align: center;
}

.products__list li {
  background: var(--color-primary);
}

.products__img {
  background-color: var(--color-text);
  padding: 20px;
}

/* the list has float in grid class, so we need to clear float */
.products__cta {
  padding-top: calc(var(--default-space) * 2);
  text-align: center;
  clear: both;
}

.products__cta p {
  margin-bottom: var(--default-space);
}
